@import "../../utils/scss/colors.scss";

.home {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: 900px;
}
.list {
  border-right: 1px solid $border-color;
  overflow: auto;
}
.desc {
  display: flex;
  flex: 3;
  overflow: hidden;
}
